/* task1.css */

/* Styling the table */
table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 6px;
    background-color: #b0e0e6;
    text-align: left;
    border-radius: 12px;
}
th, td {
    padding: 12px;
    border: 2px solid #468282;
    border-radius: 8px;
}
th {
    font-weight: bold;
    text-align: center;
}

/* Styling the shapes */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    gap: 12px;
    margin-top: 20px;
}
.box {
    width: 60px;
    height: 60px;
    border: 2px solid darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounded {
    border-radius: 6px;
}
.ellipse {
    width: 80px;
    height: 40px;
    border-radius: 50%;
}
